# Игнорируем кеши Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем виртуальные окружения
venv/
env/
.venv/
.env/

# Игнорируем логи
*.log

# Игнорируем файлы настроек IDE
.vscode/
.idea/

# Игнорируем файлы базы данных (если локально)
*.sqlite3
*.db

# Игнорируем файлы конфигураций с секретами (например, .env)
.env

# Игнорируем кеши Memcached (обычно локальные файлы или папки, зависит от настроек)
cache/
tmp/
*.cache
